go 1.24.0

use (
	./server
	./server/services/catchup
	./server/services/content_acquirer
	./server/services/dvr
	./server/services/epg
	./server/services/grid_compositor
	./server/services/ingest
	./server/services/recommendations
	./server/services/relay
	./server/services/sports
	./server/services/vod
)
